@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
header {
  background-color: #9376e0;
}
.nav-container {
  border: 1px solid red;
  min-height: 50px;
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.logo-container {
  border: 1px solid green;
  display: flex;
  width: 50%;
}

.logo-container img {
  border: 1px solid red;
  width: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.logo-container p {
  font-size: 30px;
}

.hive {
  color: #e893cf;
}

.nav-item-container {
  /* border: 1px solid blue; */
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item-container a {
  font-size: 25px;
  color: white;
}

#login-btn {
  background-color: #e893cf;
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 5px;
  color: black;
}
